.aybss {
    text-align: center;
    padding:30px 10px 20px 10px;
    background-color: aliceblue;
    font-family: 'PT Serif', serif;

}
.Customer_Support {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.customer_support_item {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 40px;
}
.Cname_img {
    width: 150px;
}
.Cname_img > img {
    width: 150px;
    border-radius: 10px;
    margin: 20px 0px 20px 0px;
}
.customer_support_item > div > h4, h3{
    width: 400px;
    text-align: center;
}
.atagecustm {
    color: #494949;
    text-decoration: none; 
}
.img_tolrimg {
    width: 24px;
}
.customer_support_byux {
    border: solid gray 0.5px;
}